.form-container{
    width: 660px;
    margin: 0 auto;

}

.page-title{
    text-align: center;
}

.comment-group{
    width: 650px;
    height: 90%;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;

}
.comment-container{
    background: #F5F5F5;
    width: 660px;
    height: 200px;
    margin-left: 30px;
    text-align: center;
}
.hr_t{
    height:6px;
    background-color:#ffffff;
}
.comment-info{
    text-align: right;
    margin-right: 10px;
}
.comment-user_name{
    color: #259;
}
.form-content{
    text-align: center;
}
.form-button{
    text-align: right;
}